.col {
  height: 400px;
}
.card-img-overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.enter {
  background-color: rgba(0, 0, 0, 0.395);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
